{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Fitjacket App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}{% endblock %}
</head>

<body>
    <div id="navbar">
        <ul> 
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'contact' %}">CONTACT</a></li>
            <li><a href="">WORKOUTS</a></li>
            <li><a href="">SOCIAL</a></li>
            <li><a href="{% url 'accounts.signup' %}">Sign Up</a></li>
            <li><a href="% url 'accounts.login' %}">Login</a></li>
        </ul>
    </div>
    {% block content %} {% endblock %}
</body>
</html>
